// app global css in SCSS form
.q-card.auth-card {
  @media (max-width: 380px) {
    width: 90vw;
  }
  width: 360px;
  margin-top: 140px;
  // backdrop-filter: blur(8px);
  margin-bottom: 90px;
}
.q-card.auth-card, #unauth-header {
  background-color: rgba(255, 255, 255, 0.8);
} 
#unauth-header {
  // backdrop-filter: blur(8px);
  color: rgba(0, 0, 0, 0.6);
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .text-h4,
  .text-h5 {
    height: inherit;
    display: flex;
    align-items: center;
    margin-left: 17px;
  }
  .text-h4 {
    font-size: 30px !important;
  }
}

.bg-image {
  background-image: url("./../assets/login-background3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh !important;
}
